@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

#app,
body {
    font-family: 'Roboto Condensed', sans-serif;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
}
h3 {
    margin: var(--s) 0;
    color: var(--secondary_color);
    text-transform: uppercase;
}
ul {
    list-style: none;
}
.btn.btn_custom {
    text-transform: uppercase;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    border-radius: 0;
}