:root {
    /*colors*/
    --primary_color: #0282f9;
    --secondary_color: #fff;
    --header_link: #464646;
    --footer_link: #959595;
    --main_bg_color: #1c1c1c;
    --footer_bg_color: #303030;
    --social_bg_color: #797979;
    /*cotainers*/
    --container_md: 75rem;
    /*spaces*/
    --xxs: .0625rem;
    --xs: .3125rem;
    --s: .625rem;
    --md: 1.5625rem;
    --lg: 3.125rem;
    --xlg: 6.25rem;
    --xxlg: 18.75rem;
}